---
title: NYCGHA - About the Leauge
description: The New York City Gay Hockey Association (NYCGHA) is New York’s first official gay hockey organization. We provide an environment free of harassment and discrimination for members and friends of the LGBT community to play ice hockey and fulfill their athletic aspirations.
pageId: about
---

<div class="subpage-title-container">
  <div class="subpage-subtitle">
    <p>NYCGHA</p>
  </div>
  <div class="subpage-title">
    <h1>About the Leauge</h1>
  </div>
</div>
<div class="subpage-container">
  <p>The New York City Gay Hockey Association (NYCGHA) is New York’s first official gay hockey organization. We provide an environment free of harassment and discrimination for members and friends of the LGBT community to play ice hockey and fulfill their athletic aspirations. All members must follow our <a href="#">Code of Conduct</a>.</p>
  <p>Currently we organize eight teams in various divisions of Chelsea Piers’ adult recreational hockey program, an annual multi-team tournament in June, clinics throughout the summertime, holiday scrimmages, and off-ice social events through the year.</p>
  
  
  
  
  <p>If you’ve never played hockey, or if you’ve been playing all your life, we’ll help you get on the ice.  We’ve got a bunch options:</p>
  <ul class="list">
    <li><p>Clinics for beginners and intermediate skaters</p></li>
    <li><p>Informal scrimmages, usually during holidays (basically whenever we can get ice)</p></li>
    <li><p>Chelsea Piers D6A, D7 and D8 teams where you can play full time or part time</p></li>
    <li><p>The Rec League, a fun division that’s kinda halfway between scrimmages and competitive league play</p></li>
  </ul>
  <p>
    Not sure you want to skate yet?  No problem.  Drop by any of our parties to meet some of the players and learn more.</p>
  <p>Wanna get behind our cause but don’t want to skate?  Also not a problem.  There’s lots of ways to be a part of our organization, including marketing, web design, party planning, tournament organizing, fundraising, and just general helping out.</p>
  <p><em>(FYI, we’re an LGBT organization but you don’t need to be a member of the LGBT community to be a part of our organization — either on or off the ice.)</em></p>
</div>