---
title: Title of the page
description: Desc of the page
pageId: home
---
  <div class="home-hero"></div>
<div class="home-logo"></div>
  <div class="home-divider"></div>
  <div class="home-container">
    <div class="home-cta">
      <div class="cta-container">
        <p class="title">We are the GHA</p>
        <p>Stuff about the club, blah blah bla. </p>
        <a href="#" class="learn-more-link primary">Learn More →</a>
      </div>
    </div>
    <div class="home-cta yellow-bkgd">
      <div class="cta-container image-before">
        <div class="image1"></div>
        <p class="title">Quote title bla bla</p>
        <p>"I first fell in love with ice hockey at age 24. At the time I was still in the closet, but after discovering the Toronto Gay Hockey Association, my teammate, Jeff Minck, and I were inspired to bring that same open-mindedness to New York rinks. Together we founded the NYCGHA in an effort to help change stereotypes and welcome all hockey lovers." <br />-Jeff Kagan</p>
        <a href="#" class="learn-more-link primary">Learn More →</a>
      </div>
    </div>
    <div class="home-cta">
      <div class="cta-container  image-after">
        <div class="image2"></div>
        <p class="title"><span id="ccDay"></span> the <span class="secondary">Chelsea Challenge</span></p>
        <p>The Chelsea Challenge is an adult LGBT and LGBT-friendly ice hockey tournament hosted by the New York City Gay Hockey Association. The tournament welcomes players from everywhere and attracts players from across the US, Canada and Europe.</p>
        <a href="#" class="learn-more-link primary">Learn More →</a>
      </div>
    </div>
    <div class="home-cta tertiary-bkgd">
      <div class="cta-container">
        <p class="title">Become a Member</p>
        <p>Help support the NYC Gay Hockey Association and become a member. You will be the first to receive information on upcoming events, league play, and other activities. Your dues are 100% tax deductible.</p>
      </div>
    </div>
    <div class="home-cta">
      <div class="cta-container">
        <p class="title">Make a Donation</p>
        <p>A donation of any size can help...</p>
      </div>
    </div>
  </div>