<nav>
	<ul id="nav">
		<li><a href="">About the League</a></li>
		<ul>
			<li><a href="">Get Involved</a></li>
			<li><a href="">Our History</a></li>
			<li><a href="">Code of Conduct</a></li>
			<li><a href="">Our Sponsors</a></li>
			<li><a href="">Board Members</a></li>
		</ul>
		<li><a href="">Teams</a>
			<ul>
				<li><a href="">Lions</a></li>
				<li><a href="">Wizards</a></li>
				<li><a href="">Boxers</a></li>
				<li><a href="">Dills</a></li>
				<li><a href="">Recreation League</a></li>
			</ul>
		</li>
		<li><a href="">Recreation League</a>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">Teams</a></li>
				<li><a href="">Schedule &amp; Standings</a></li>
			</ul>
		</li>
		<li><a href="">Chelsea Challenge</a>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">Rules</a></li>
				<li><a href="">Visiting New York</a></li>
				<li><a href="">Registration</a></li>
			</ul>
		</li>
		<li><a href="">Donate</a>
	</ul>
</nav>