
<div class="logo">Logo Here</div>
<nav>
	<ul id="nav">
		<li>
			<a href="/about.html">About the League</a>
			<ul>
				<li><a href="http://google.com">Get Involved</a></li>
				<li><a href="http://google.com">Our History</a></li>
				<li><a href="/about/code.html">Code of Conduct</a></li>
				<li><a href="">Our Sponsors</a></li>
				<li><a href="/about/board.html">Board Members</a></li>
			</ul>
		</li>
		<li><a href="">Teams</a>
			<ul>
				<li><a href="">D6A - Lions</a></li>
				<li><a href="">D7 - Wizards</a></li>
				<li><a href="">D8 - Boxers</a></li>
				<li><a href="">D8 - Dills</a></li>
				<li><a href="">Recreation League</a></li>
			</ul>
		</li>
		<li><a href="">Recreation League</a>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">Teams</a></li>
				<li><a href="">Schedule &amp; Standings</a></li>
			</ul>
		</li>
		<li><a href="">Chelsea Challenge</a>
			<ul>
				<li><a href="">Overview</a></li>
				<li><a href="">Rules</a></li>
				<li><a href="">Visiting New York</a></li>
				<li><a href="">Registration</a></li>
			</ul>
		</li>
		<li><a href="">Donate</a>
	</ul>
</nav>