
<div class="logo">Logo Here</div>
<nav>
	<ul id="nav">
		<li>
			<a href="/about.html">About the League</a>
			<ul>
				<li><a href="/about.html">Get Involved</a></li>
				<li><a href="/about/history.html">Our History</a></li>
				<li><a href="/about/code.html">Code of Conduct</a></li>
				<li><a href="/about/sponsors.html">Our Sponsors</a></li>
				<li><a href="/about/board.html">Board Members</a></li>
			</ul>
		</li>
		<li><a href="/teams/lions.html">Teams</a>
			<ul>
				<li><a href="/teams/lions.html">D6A - Lions</a></li>
				<li><a href="/teams/wizards.html">D7 - Wizards</a></li>
				<li><a href="/teams/boxers.html">D8 - Boxers</a></li>
				<li><a href="/teams/dills.html">D8 - Dills</a></li>
				<li><a href="/rec-leauge.html">Recreation League</a></li>
			</ul>
		</li>
		<li><a href="/rec-leauge.html">Recreation League</a>
			<ul>
				<li><a href="/rec-leauge.html">Overview</a></li>
				<li><a href="/rec/teams.html">Teams</a></li>
				<li><a href="/rec/schedule.html">Schedule &amp; Standings</a></li>
			</ul>
		</li>
		<li><a href="/chelsea-challenge.html">Chelsea Challenge</a>
			<ul>
				<li><a href="/chelsea-challenge.html">Overview</a></li>
				<li><a href="/cc/rules.html">Rules</a></li>
				<li><a href="/cc/visiting.html">Visiting New York</a></li>
				<li><a href="/cc/registration.html">Registration</a></li>
			</ul>
		</li>
		<li><a href="/donate.html">Donate</a>
	</ul>
</nav>