---
title: NYCGHA - Visiting New York
description: The New York City Gay Hockey Association (NYCGHA) is New York’s first official gay hockey organization. We provide an environment free of harassment and discrimination for members and friends of the LGBT community to play ice hockey and fulfill their athletic aspirations.
pageId: visiting
---

<div class="subpage-title-container">
  <div class="subpage-subtitle">
    <p>NYCGHA</p>
  </div>
  <div class="subpage-title">
    <h1>Visiting New York</h1>
  </div>
</div>
<div class="subpage-container">
  <p>Information is coming soon...</p>
</div>