---
title: NYCGHA - Board Members
description: The New York City Gay Hockey Association (NYCGHA) is New York’s first official gay hockey organization. We provide an environment free of harassment and discrimination for members and friends of the LGBT community to play ice hockey and fulfill their athletic aspirations.
pageId: board
---

<div class="subpage-title-container">
  <div class="subpage-subtitle">
    <p>NYCGHA</p>
  </div>
  <div class="subpage-title">
    <h1>Board Members</h1>
  </div>
</div>
<div class="subpage-container">
  <div class="board-title">
    <h2>Board of Directors</h2>
  </div>
  <div class="board-member">
    <div class="board-img _greenberg"></div>
    <div class="board-desc">
      <p>Steven Greenberg</p>
      <p>President</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img _may"></div>
    <div class="board-desc">
      <p>Grant May</p>
      <p>Vice President</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img _gaffney"></div>
    <div class="board-desc">
      <p>Matty Gaffney</p>
      <p>Vice President</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img _wender"></div>
    <div class="board-desc">
      <p>David Wender</p>
      <p>Treasurer</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img _lorenzo"></div>
    <div class="board-desc">
      <p>Steve Lorenzo</p>
      <p>Secretary</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img _kagan"></div>
    <div class="board-desc">
      <p>Jeff Kagan</p>
      <p>Co-Founder</p>
      <p>Member, Board of Directors</p>
    </div>
  </div>
  <div class="board-title">
    <h2>Volunteers</h2>
  </div>
  <div class="board-member">
    <div class="board-img"></div>
    <div class="board-desc">
      <p>Vinny Di Cairano</p>
      <p>Webmaster</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img"></div>
    <div class="board-desc">
      <p>Andrea Oliva</p>
      <p>Rec Leauge Commissioner</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img"></div>
    <div class="board-desc">
      <p>TBD</p>
      <p>Rec Leauge Scorekeeper</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img"></div>
    <div class="board-desc">
      <p>TBD</p>
      <p>Chelsea Challenge Chairperson</p>
    </div>
  </div>
  <div class="board-member">
    <div class="board-img"></div>
    <div class="board-desc">
      <p>Allison Spitz, Esq.</p>
      <p>Counsel to the NYCGHA</p>
    </div>
  </div>
</div>