---
title: NYCGHA - Code of Condact
description: The New York City Gay Hockey Association (NYCGHA) is New York’s first official gay hockey organization. We provide an environment free of harassment and discrimination for members and friends of the LGBT community to play ice hockey and fulfill their athletic aspirations.
pageId: code
---

<div class="subpage-title-container">
  <div class="subpage-subtitle">
    <p>NYCGHA</p>
  </div>
  <div class="subpage-title">
    <h1>Code of Conduct</h1>
  </div>
</div>
<div class="code-container">
  <p>The NYCGHA Code of Conduct is the organization’s statement of expected behavioral standards that all players are required to read and follow. The Code of Conduct, intended to reflect the stated goals of the NYCGHA (see Mission Statement), clarifies the expectation that NYCGHA players have responsibility for their actions both on and off the ice, while traveling and at home, and have accountability for those actions when NYCGHA standards are violated.</p>
  <h3>Mission Statement</h3>
  <p>The New York City Gay Hockey Association (NYCGHA) provides an environment free of harassment and discrimination for members and friends of the LGBT community to play ice hockey and fulfill their athletic aspirations.</p>
  <h3>Language</h3>
  <p>Threatening language and verbal threats, slurs against race, ethnicity, sexuality, or gender will not be tolerated under any circumstances.</p>
  <h3>Sportsmanship</h3>
  <p>Sportsmanship is defined as: fairness and respect for one’s opponent, and graciousness in winning or losing.</p>
  <p>All players are expected to conduct themselves with the highest level of sportsmanship. Any player who deliberately tries to harm or intimidate another player through the use of force will be subject to the consequences described below.</p>
  <h3>Consequences</h3>
  <p>If an NYCGHA member is found to be behaving outside of the Code of Conduct, he or she will receive a warning from the Executive Board via email or in person. If the offender continues to behave in a manner that violates the NYCGHA Code of Conduct, he or she will be suspended for the two games immediately following the repeat infraction.</p>
  <p>If a player who has been suspended previously behaves subsequently in a manner that violates the NYCGHA Code of Conduct, the player will be removed from all NYCGHA team rosters and suspended for the remainder of the season as well as for the subsequent season.</p>
  <p>If a captain or alternate captain is suspended, he or she will be removed from his or her position as captain or alternate captain and the NYCGHA Executive Board will appoint a new Captain or Alternate. As representatives of the NYCGHA and “spokespersons” for his or her individual team, it is doubly important that Captains and Alternate Captains be held to the highest level of conduct. They set the example for the team.</p>
  <p>All suspensions will be posted on the appropriate team’s Sky Rink web page. In addition, a player who is suspended is not eligible for a refund of any portion of his or her season fee nor is he or she allowed to sit on the bench during the term of his or her suspension. This policy applies to all players.</p>
  <h3>Reporting Code of Conduct Violations</h3>
  <p>Code of Conduct violations may be reported to the NYCGHA Executive Board using our <a href="#">feedback form</a>. All reports will be confidential, will be investigated in a timely manner and may involve work with the NYCGHA Advisory Council. Other reports of code of conduct violations may come from Sky Rink staff or officials and from teams outside the NYCGHA.</p>
  <p>In addition, there are two other methods for reporting violations:</p>
  <ul class="list">
    <li><p>An NYCGHA team captain can decide that a member of his or her team has violated the Code of Conduct and can choose to take action upon receiving approval from the Executive Board.</p></li>
    <li><p>Any official suspensions handed down by Sky Rink are considered as violations of the Code of Conduct.</p></li>
  </ul>
  <p>In either of these instances, no investigation by the Executive Board is necessary for the player to receive the consequences designated.</p>
  <p>To issue warnings, suspensions or expulsions, the Executive Board must vote unanimously. In addition, in the matter of expulsions, the advisory council must also have a majority vote among its members. All decisions by the Executive Board are final.</p>
  <p class="footnote">The Code of Conduct was revised on October 1, 2013.</p>
  <p class="footnote">The Code of Conduct was revised on March 25, 2007.</p>
  <p class="footnote">This Code of Conduct is effective December 20, 2004.</p>
</div>