header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  z-index: 999;
  //  height: 100%;
}
.logo {
  width: 400px;
  height: 50px;
  background: $dark-grey;
}
nav {
  width: 100vw;
}
#nav {
  display: flex;
  justify-content: space-around;
  //  align-items: center;   
  height: 5vh;
  background: $black;
  a {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em;
    line-height: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: $light-grey;
    padding: 0 20px;
    height: 100%;
    line-height: 5vh;
    display: block;
  }
  li {
    ul {
      height: 0;
      overflow: hidden;
      position: absolute;
      transition: 0.2s;
      transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
      background-color: $black;    
      border-radius: 0 0 5px 5px;
      li {
        width: 100%;
      }
      a {
        font-size: 1.2em;
        height: 50px;
        line-height: 50px;
        background: $light-grey;
        color: $black;
        padding: 0 40px;
        letter-spacing: 0.025em;
        text-transform: initial;
      }
    }
    &:hover {
      background: $light-grey;
      a{
        color: $black;
      }
      ul {
        height: auto;
        a:hover {
          background: $black;
          color: $light-grey;
        }
      }
    }
  }
  & > li a:hover {}
  //    border: 1px solid black;
}
